cffi~=1.15.1
Pillow~=9.5.0
pip~=22.3.1
attrs~=23.1.0
wheel~=0.38.4
cryptography~=41.0.2
ccxt~=4.0.21
requests~=2.31.0
aiohttp~=3.8.4
certifi~=2023.5.7
yarl~=1.9.2
idna~=3.4
multidict~=6.0.4
setuptools~=65.5.1
pycares~=4.3.0
aiosignal~=1.3.1
frozenlist~=1.3.3
aiodns~=3.0.0
urllib3~=2.0.3
pycparser~=2.21
ttkbootstrap~=1.10.1
